# -------- Web & Utils --------
Flask==2.3.3
Flask-Mail==0.9.1
gunicorn==23.0.0
python-dotenv==1.2.1
pymongo==4.4.0
dnspython==2.3.0
requests==2.32.5
reportlab==4.4.5

# -------- Image & Math --------
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.4.0

# -------- Deep Learning (CPU only, PyTorch) --------
--extra-index-url https://download.pytorch.org/whl/cpu


# ❌ NOTE: tensorflow-cpu REMOVED on purpose
