# web server
gunicorn
Flask==2.3.3
Flask-Mail==0.9.1
pymongo==4.4.0
dnspython==2.3.0

# config & utilities
python-dotenv
requests
numpy
pillow
opencv-python
reportlab

# deep learning (CPU only)
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
tensorflow-cpu
